<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Usuário</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav class="navbar bg-body-secondary">
        <div class="container">
            <a href="" class="navbar-brand">
                <img src="imgs/logo.png" alt="Logo Sâo Judas" width="200" />
            </a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="#" class="nav-link active link-success" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/inventario" class="nav-link link-success">Inventário</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container my-5">
        <h1>Cadastro de Usuário</h1>
        <form>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="nome" name="nome">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha">
            </div>
            <div class="mb-3">
                <label for="nomeUsuario" class="form-label">Nome de usuário</label>
                <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" readonly>
            </div>
            <button type="submit" class="btn btn-primary" id="btn-cadastrar">Cadastrar</button>
        </form>
    </div>  
    <script>
        document.getElementById('btn-cadastrar').addEventListener('submit', function (e){
            e.preventDefault();
        }); 

        function gerarNomeUsuario() {
        const nomeCompleto = document.getElementById('nome').value;
        const nomes = nomeCompleto.trim().split(' ');
        const primeiroNome = nomes[0];
        const ultimoNome = nomes[nomes.length - 1];
        const nomeUsuario = `${primeiroNome.toLowerCase()}.${ultimoNome.toLowerCase()}`;
        document.getElementById('nomeUsuario').value = nomeUsuario;
        }
        document.getElementById('nome').addEventListener('blur', gerarNomeUsuario);
    </script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>