<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/custom.css">
  <title>Login</title>
</head>

<body>
  <section class="vh-100" style="background-color: #10c762;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <img class="mb-4" src="imgs/logo.png" alt="">
              <h3 class="mb-5">Login</h3>


              <form action="/login" method="post">
                <div class="form-floating mb-4">
                  <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                  <label for="floatingInput">Email</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                  <label for="floatingPassword">Senha</label>
                </div>
                
                <div class="form-check d-flex justify-content-start mb-4">
                  <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                  <label class="form-check-label" for="form1Example3">Lembrar Usuário</label>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              </form>




            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>